@page
@using MTPrison.Facade.Party
@model MTPrison.Pages.Party.CellsPage

@{
    Layout = "_Details";

    var columns = new[] { 
        nameof(PrisonerView.FullName)
        , nameof(PrisonerView.DoB)
        , nameof(PrisonerView.Offense)
        , nameof(PrisonerView.DateOfImprisonment)
        , nameof(PrisonerView.DateOfRelease)
    };
    object? getValue<T>(string propertyname, T item) {
        var pi = typeof(T).GetProperty(propertyname);
        var obj = pi?.GetValue(item);
        return obj?.GetType() == typeof(DateTime) ? ((DateTime)obj).ToShortDateString() : obj;
    }
}

<Body>
    <partial name= "_ShowCell"/>

<br>

    <h4>Prisoners</h4>
    <table class="table">
    <thead>
    <tr>
        @foreach (var name in columns) { <td> @Html.Raw(name) </td> }
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Prisoners.Value) {
            <tr>
                @foreach (var name in columns) {
                    <td>
                    @Html.Raw(getValue(name, item))
                    </td>
                }
            </tr>
        }
    </tbody>
    </table>

</Body>
