@page
@model MTPrisonApp.Pages.Cells.CellsPage
@using MTPrison.Pages.Extensions

@{
    Layout = "_Details";
}

<body>
    <partial name="_ShowCell"/>
</body>

<div>
    <a asp-page="./Edit" asp-page-handler="Edit" asp-route-id="@Model.Cell.Id">Edit</a> |
    <a asp-page="./Index" asp-page-handler="Index">Back to List</a>
</div>
