@page
@model MTPrisonApp.Pages.Cells.CellsPage
@using MTPrison.Pages.Extensions

@{
    Layout = "_Details";
    ViewData["itemId"] = Model?.Cell?.Id??string.Empty;
}

<body>
    <partial name="_ShowCell"/>
</body>
