@page
@model MTPrisonApp.Pages.Cells.CellsPage
@using MTPrison.Pages.Extensions

@{
    Layout = "_Edit";
}
<body>
    <input type="hidden" asp-for="Cell.Id" />
    @Html.MyEditorFor(m => m.Cell.Id)
    <partial name="_EditCell"/>
</body>
