@page
@using MTPrison.Facade.Party
@model MTPrison.Pages.Party.CountriesPage

@{
    Layout = "_Details";

    var columns = new[] { 
        nameof(CurrencyView.Code)
        , nameof(CurrencyView.Name)
        , nameof(CurrencyView.NativeName)
    };
    object? getValue<T>(string propertyname, T item) {
        var pi = typeof(T).GetProperty(propertyname);
        return pi?.GetValue(item);
    }
}

<Body>
    <partial name= "_ShowCountry"/>

<br>

    <h4>Currencies</h4>
    <table class="table">
    <thead>
    <tr>
        @foreach (var name in columns) { <td> @Html.Raw(name) </td> }
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Currencies) {
            <tr>
                @foreach (var name in columns) {
                    <td>
                    @Html.Raw(getValue(name, item))
                    </td>
                }
            </tr>
        }
    </tbody>
    </table>

</Body>
