@page
@model MTPrisonApp.Pages.PrisonCells.PrisonCellsPage

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PrisonCell</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-page-handler="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PrisonCell.Id" />
            <div class="form-group">
                <label asp-for="PrisonCell.CellNumber" class="control-label"></label>
                <input asp-for="PrisonCell.CellNumber" class="form-control" />
                <span asp-validation-for="PrisonCell.CellNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrisonCell.Capacity" class="control-label"></label>
                <input asp-for="PrisonCell.Capacity" class="form-control" />
                <span asp-validation-for="PrisonCell.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrisonCell.Type" class="control-label"></label>
                <input asp-for="PrisonCell.Type" class="form-control" />
                <span asp-validation-for="PrisonCell.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrisonCell.Section" class="control-label"></label>
                <input asp-for="PrisonCell.Section" class="form-control" />
                <span asp-validation-for="PrisonCell.Section" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-page-handler="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
