@page
@model MTPrisonApp.Pages.Prisoners.PrisonersPage
@using MTPrison.Pages.Extensions

@{
    Layout = "_Create";
}
<body>
    @Html.MyEditorFor(m => m.Item.Id)
    <partial name="_EditPrisoner"/>
</body>