@page
@model MTPrisonApp.Pages.Prisoners.PrisonersPage
@using MTPrison.Pages.Extensions

@{
    Layout = "_Delete";
}

    <dl class="row">
        @Html.MyViewerFor(m => m.Prisoner.FullName)
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Prisoner.Id" />
        <input type="submit" value="Delete" handler="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index" asp-page-handler="Index">Back to List</a>
    </form>

