@page
@model MTPrisonApp.Pages.Prisoners.PrisonersPage

@{
    Layout = "_Details";
}

<body>
    <partial name="_ShowPrisoner"/>
</body>

<div>
    <a asp-page="./Edit" asp-page-handler="Edit" asp-route-id="@Model.Prisoner.Id">Edit</a> |
    <a asp-page="./Index" asp-page-handler="Index">Back to List</a>
</div>

